@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Rubik+Gemstones&display=swap");

.header {
  padding: 20px;
  background-color: #1d9bf0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > a {
  text-decoration: none;
}

.logo {
  color: white;
  font-family: "Rubik Gemstones", cursive;
  text-decoration: none;
}

.logo > p {
  font-family: "Rubik Gemstones", cursive;
}

.header > nav > a:first-child {
  margin-right: 1.5em;
}

.header > nav > a {
  color: white;
  text-decoration: none;
  background-color: white;
  color: #1d9bf0;
  padding: 0.3em 1em;
  border-radius: 5px;
  transition: all 500ms ease-out;
}

.header > nav > a.active {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.header > nav > a:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
