.tweets-wrapper>main {
    padding: 1em;
}

.tweets-wrapper>main>* {
    margin: 1em 0;
}

/* SECTION 1 */
.tweets-sec1 {
    display: flex;
    align-items: center;
}

.tweets-searchBar {
    flex: 1;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.2em 1em;
    margin-right: 1em;
}

.tweets-searchBar>input {
    border: none;
    outline: none;
    padding-right: 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    flex: 1;
    width: 100%;
}

/* Section 2 */
.tweets-sec2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}